<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    Nombre:
    <input type="text" formControlName="name" id="name">
    <div *ngIf="registerFormControl.name.errors?.required">
        Nombre es obligatorio.
    </div>
    <div *ngIf="registerFormControl.name.errors?.minlength">
        Nombre debe tener 4 caracteres.
    </div>

    Contraseña:
    <input type="password" formControlName="password" id="password">
    <div *ngIf="registerFormControl.password.errors?.required">
        Contraseña es obligatoria.
    </div>
    <div *ngIf="registerFormControl.password.errors?.minlength">
        Contraseña debe tener 4 caracteres.
    </div>
    <button type="submit">Login</button>
</form>